{% extends "padre.html" %}
{% load static %}

{% block titulo %}
  <h2>Acerca de Mí</h2>
{% endblock titulo %}
{% block subtitulo %}{% endblock subtitulo %}
{% block imagen %}style="background-image: url('{% static 'imagenes/yo.jpeg' %}')"{% endblock imagen %}

{% block cajas %}


<h1>Núñez Ramiro Sebastián</h1>
<p><strong>Estudiante (UNNE - Licenciatura en Sistemas de Información)</strong></p>
<p><strong>19 Años</strong></p>
<p><strong>Con ganas de Seguir Estudiando y Aprendiendo</strong></p>


{% endblock %}